a.out     digital.c   led2.c   led5     NANR.c      palindrome.c
 array.c   even.c      led3     led5.c   natural.c   reverse.c
 code2.c   largest.c   led3.c   led.c    neven.c     text.c
 code.c    led         led4     ledd     numbers.c  'three numbers.ods'
 count.c   led2        led4.c   ledd.c   odd.c
